<% include partials/header %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron mt-5 shadow">
        <h1 class="text-center">Site Auth Tutorial</h1>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>